
$white: hsl(0, 0%, 100%);
$lightgrey: hsl(212, 45%, 89%);
$grayishblue: hsl(220, 15%, 55%);
$darkblue: hsl(218, 44%, 22%);

* {
    font-family: 'Outfit', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background: $lightgrey;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    width: 375px;
    background: $white;
    padding: 1.1em;
    border-radius: 1.5em;
    box-shadow: 16px 19px 17px rgba(0,0,0,0.1);

    .heading {
        font-weight: 700;
        font-size: 1.5rem;
        color: $darkblue;
        text-align: center;
        margin: 1em 0.5em;
    }

    .copy {
        font-size: 1.2rem;
        font-weight: 400;
        color: $grayishblue;
        text-align: center;
        margin: 1em 0.7em;
    }

    img {
        width: 100%;
        border-radius: 1em;
    }
}