
$white: hsl(0, 0%, 100%);
$lightgrey: hsl(212, 45%, 89%);
$grayishblue: hsl(220, 15%, 55%);
$darkblue: hsl(218, 44%, 22%);

body {
    font-family: 'Outfit', sans-serif;
    background: $lightgrey;
}

p {
    text-align: center;
    padding: 0 0.8em;
}

.card {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    background: $white;
    padding: 1.1em;
    border-radius: 1.5em;

    .heading {
        font-weight: 700;
        font-size: 1.5rem;
    }

    .copy {
        font-size: 1.2rem;
        color: $grayishblue;
        margin: 1.2em 0; 
    }

    img {
        width: 100%;
        border-radius: 1em;
    }
}

@media only screen and (min-width: 680px) {
    .card {
        width: 50%;
    }
}

@media only screen and (min-width: 900px) {
    .card {
        width: 35%;
    }
}

@media only screen and (min-width: 1200px) {
    .card {
        width: 25%;
    }
}

@media only screen and (min-width: 1440px) {
    .card {
        width: 20%;
    }
}